<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real time disaster verification and mapping</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="main-body">
        <div class="image">
            <img src="/static/img1.jpeg" alt="">
            <img src="/static/img2.jpeg" alt="">
            <img src="/static/img3.jpeg" alt="">
            <img src="/static/image7.jpeg" alt="">
            <img src="/static/img8.webp" alt="">
            <img src="/static/image9.jpeg" alt="">
            <img src="/static/image10.jpeg" alt="">
            <img src="/static/image11.jpeg" alt="">
            <img src="/static/image13.jpeg" alt="">
        </div>
        <div class="qoute">
             <p>"Bringing People Together in Times of  Disaster — Real-Time Alerts, Real Help"</p>
        </div>
        <div class="upload-image">
            <a href="for_camera.html" onclick="open_camera()"><img class="uploadimage"src="/static/upload-image.png" alt=""></a>
         </div>
         <a id="demo" href="demo.html">Click for Demo</a>
         <button id="login" onclick="login_page()">login/signup</button>
    </div>
    <script src="/static/script.js"></script>
</body>
<script>
    function login_page(){
        window.location.href="login.html";
    }
</script>
</html>