<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<style>
    html{
        background-color: #0f3460;
    }
    body{
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
    <div id="container-login">
        <button onclick="window.location.href='/login'"class="google-btn">
   <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="Google Logo">
    <span>Continue with Google</span>
       </button>
    </div>
</body>
</html>