fastapi
uvicorn
jinja2
python-multipart
tensorflow==2.13.1
numpy
opencv-python-headless
pillow
mysql-connector-python
redis
python-socketio
python-dotenv
requests
Authlib
httpx
itsdangerous
python-jose
