
.form input  { padding: 10px 20px; font-size: 16px; }
.form button { padding: 10px 30px; font-size: 16px; cursor: pointer; }

.demo {
    width: 100vw;
    height: 100vh;
    /* background: black; */
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 20px;
    font-family: Luminari, fantasy;
}

.form {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    gap: 20px;               
    margin-top: 50px;        
}

.form input {
    padding: 10px 20px;      
    font-size: 16px;
    margin-left: 193px;
}

.form button {
    padding: 10px 30px;   
    font-size: 16px;
    cursor: pointer;
    background-color: aliceblue;
    color: black;
}